<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Attendees</title>
    <link rel="stylesheet" href="/css/attendees.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>
    <div class="container">
         <!-- Sidebar -->
         <%- include('partials/sidebar', { conferenceId: conferenceId }) %>
        <div class="main-content">
            <h2>Registrants for <%= conference.title %></h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <% attendees.forEach(attendee=> { %>
                        <tr>
                            <td>
                                <%= attendee.name %>
                            </td>
                            <td>
                                <%= attendee.email %>
                            </td>
                            <td>
                                <%= attendee.phone %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</body>

</html>